-- NOTE: Due to revisions, this file may not work. See:
-- https://github.com/fpco/stackage-server/issues/232

-- Stackage snapshot from: http://www.stackage.org/snapshot/nightly-2024-05-16
-- Please place this file next to your .cabal file as cabal.config
-- To only use tested packages, uncomment the following line:
-- remote-repo: stackage-nightly-2024-05-16:http://www.stackage.org/nightly-2024-05-16
index-state: hackage.haskell.org 2024-05-17T11:21:58Z
with-compiler: ghc-9.10.1
